<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="<%= BASE_URL %>ant-design-vue/dist/antd.css" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="app">
        <!-- <div class="first-loading-wrp">
                <div class="loading-wrp">
                    <span class="dot dot-spin"><i></i><i></i><i></i><i></i></span>
                </div>
                <div style="display: flex; justify-content: center; align-items: center">Loading...</div>
            </div> -->
    </div>

    <script src="<%= BASE_URL %>vue/dist/vue.min.js"></script>
    <script src="<%= BASE_URL %>vue-router/dist/vue-router.min.js"></script>
    <script src="<%= BASE_URL %>vuex/dist/vuex.min.js"></script>
    <script src="<%= BASE_URL %>moment/dist/moment.min.js"></script>
    <script src="<%= BASE_URL %>moment/locale/zh-cn.js"></script>
    <script src="<%= BASE_URL %>ant-design-vue/dist/antd.min.js"></script>
    <!-- built files will be auto injected -->
</body>

</html>